*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.header-top{
    background:#000000;
    color: white;
    height: 40px;
}
.header-top .container{
    max-width: 1170px;
    width: 100%;
}
.header-top i{
    color:#fd3c3d;
}
.header-top span{
    color: #d3d3d3;
    font-size: 13px;
}
.header-top .time-clock{
    margin-top:5px;
}
.header-top .contact{
    display: flex;
    margin-top: 5px;
    justify-content: end;
}
.header-top .contact .mail-contact{
    margin-left:35px;
}
.header-main{
    background:#fd3c3d;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu .menu-main{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.menu .menu-main li{
    list-style: none;
    padding: 5px 17px;
    font-size: 12px;
    
}
.menu .menu-main li a{
   text-decoration: none;
   color:#ffff;
   font-weight: 700;
}
.slider-banner .carousel-indicators{
    top:80%;
}
.slider-banner .carousel-caption{
    position:absolute;
    top: 140px;
}
.slider-banner .carousel-caption h1{
    font-size:4.7rem;
}
.slider-banner .carousel-caption p{
    margin-top: 20px;
    font-size:1.1rem;
    padding:0px 240px;
    line-height: 2rem;
    letter-spacing:0.5px;
    margin-bottom:10px;
   
}
.slider-banner .carousel-caption h3{
    font-size: 2rem;
    margin-bottom:30px;
}
.slider-banner .carousel-caption a{
    border:2px solid #ffff;
    text-decoration:none;
    color:#fff;
    padding:15px 70px;
    transition: all .3s;
}
.slider-banner .carousel-caption a:hover{
    background-color: #fd3c3d;
}


.carousel-item{
    transform: scale(1.2);
    opacity: 1;
}


/* slider-menu */
.slider-menu{
   background: #181a1f;
   height: 60vh;
}
.slider-menu .item-text{
    background: #fd3c3d;
    color: #fff;
    text-align: center;
    padding: 15px 0px;
}
.slider-menu .item-text p{
    font-size: 1.375rem;
}
.slider-menu .item-text h3{
    font-weight: 700;
}
.slider-menu-1{
  position: relative;
}
.slider-menu-1 .owl-carousel{
    position: absolute;
    top: -60px;
}
.slider-menu .item{
    border: 1px solid #fff;
}
.slider-menu-1 .owl-nav{
    display: none;
}
.slider-menu-1 .owl-dots{
    display: none;
}
/* ABOUT */
.about{
    background: #181a1f;
    padding-bottom: 50px;
    position: relative;
}
.about-heading h1{
    color:#fd3c3d;
    font-size: 3.75rem;
    text-align: center;
    position: relative;
}
.about-heading h1::before{
    content: "";
    position: absolute;
    max-width: 40px;
    width: 100%;
    display: block;
    height: 3px;
    background: #8d8d8d;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 115%;
}
.about-main{
    margin-top: 60px;
}
.about-main-text p{
    width: 100%;
    font-size: 16px;
    color: #a9a9a9;
    text-align: left;
    font-weight: normal;
    line-height: 1.7;
}
.policy{
    margin-top: 40px;
}
.policy-text span{
    color: #fd3c3d;
    font-weight: 700;
}
.policy-text p{
    color: #a9a9a9;
    font-size: 0.9rem;
    font-weight: normal;
    margin-top: 10px;
}
.policy-1{
    display: flex;
}
.policy-1 img{
    padding: 40px 15px;
}

.img-about{
    position: absolute;
    right: -180px;
}
.img-about img{
   max-width: 100%;
}

/* classroom */
.classroom{
    background-image: url(./IMG/service-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
.class-heading h1{
    color:#fd3c3d;
    font-size: 3.75rem;
    text-align: center;
    position: relative;
   padding-top: 100px;
}
.class-heading h1::before{
    content: "";
    position: absolute;
    max-width: 40px;
    width: 100%;
    display: block;
    height: 3px;
    background: #8d8d8d;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 115%;
}
.class-main{
    margin-top: 100px;
}

.slider-menu-2 .item:hover{
    box-shadow: 8px 8px 0 -4px rgb(253 60 61);
    transition: all ease .5s;
}
.slider-menu-2 .main-text-item{
    background: #181a1f;
    color: #fff;
    text-align: center;
    padding: 30px 0px;
    min-height: 375px;

}
.main-text-item .item-text p{
    color: #fd3c3d;
    font-size: 16px;
    margin-bottom:inherit;
}
.main-text-item .item-text h3{
    font-weight: normal;
    font-size: 1.5rem;
}
.main-text-item .time-check{
    padding: 10px 0px;
    font-size: 0.9rem;
    border-top: 1px solid #303136 ;
    border-bottom: 1px solid #303136 ;
}
.main-text-item .time-check i{
    color: #fd3c3d;
}
.main-text-item .time-check span{
    color: #cccc;
}
.main-text-item .content{
    padding: 0px 10px;
    margin-top:15px;
    font-size: 15px;
    font-weight: normal;
}


/* SALE */
.sale{
    background: #fd3c3d;
    padding-bottom: 0;
    padding-top: 70px;
}
.sale-img img{
    width: 100%;
}
.sale-text h3{
    font-size: 2.063rem;
    color: #ffff;
}
.sale-text h1{
    font-size: 6.25rem;
    color: #ffff;
    padding: 20px 0px;
    font-weight: normal;
}
.sale-text p{
    color: #ffff;
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 50px;
}
.sale-text a{
    color: #ffff;
    border: 2px solid;
    padding: 13px 30px;
    text-decoration: none;
}
.sale-text a:hover{
    background: #ffff;
    color: #fd3c3d;
    transition: all ease .5s;
}




/* THE MẠNH CỦA BACH FITNESS */
.fitness{
    background-image: url(./IMG/advantage-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
.fitness-heading h1{
    color: #fd3c3d;
    font-size: 3.5rem;
    padding-top: 100px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    display: block;
    font-family: 'Roboto',sans-serif;
    margin: 0 0 40px 0;
}
.fitness-heading h1::before{
    content: "";
    position: absolute;
    max-width: 40px;
    width: 100%;
    display: block;
    height: 3px;
    background: #8d8d8d;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 115%;
}

.fitness-item{
    display: flex;
    margin-top: 70px;
    
}
.fitness-item:hover .fitness-icon{
    background: #ffff;
    border: 2px solid ;

}
.fitness-icon{
    border:2px solid #fd3c3d;
    border: 2px solid #fd3c3d;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 10px 12px;
    transition: all .5s;
}
.fitness-content{
    margin-left: 15px;
}
.fitness-content h4{
    color: #ffff;
    font-size: 16px;
    font-weight: bold;
}
.fitness-content p{
    font-weight: normal;
    color: #a9a9a9;
    text-align: left;
    text-transform: capitalize;
    margin: 0;
    font-size: 15px;
    line-height: 1.7rem;
    
}


/* static */
.static{
    background-image: url(./IMG/statistic-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    padding-top: 70px;
}
.static-main{
    padding: 70px 0px;
}
.static-item{
    color: #fff;
    text-align: center;
}
.static-item i{
    font-size: 40px;
}
.static-item h3{
    font-size: 4.375rem;
    margin-top: 20px;
}
.static-item p{
    font-size: 1rem;
}


/* trainer */

.trainer-heading h1{
    color: #fd3c3d;
    font-size: 3.5rem;
    position: relative;
    display: block;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}
.trainer-heading h1::before{
    content: "";
    position: absolute;
    max-width: 40px;
    width: 100%;
    display: block;
    height: 3px;
    background: #8d8d8d;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 115%;
}

.trainer{
    background-image: url(./IMG/trainer-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    padding-top: 70px;
}
.trainer-box{
    display: flex;
    margin-top: 70px;
    background: #181a1f;
    padding-bottom: 50px;
}
.trainer-box:hover{
    box-shadow: 8px 8px 0 -4px rgb(253 60 61);
    transition: all ease .5s;
}
.trainer-content{
    padding: 30px 30px;
}
.trainer-content h4{
    font-size: 1.1rem;
   color: #fd3c3d;
   font-weight: normal;
}
.trainer-content span{
    font-weight: 700;
    color: #ffff;
    font-size: 13px;
}
.trainer-content p{
    color: #a9a9a9;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-top: 13px;
    font-size: 15px;
}

/* call-days */
.call-days{
    background-image: url(./IMG/statistic-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    padding-top: 70px;
}
.call-days-content h3{
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
}
.call-days-content h1{
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 4.5em;
    padding: 10px 0px;
}
.call-days-content p{
    color: #ffff;
    font-family: 'Roboto', sans-serif;
}
.call-days-button{
    margin-top: 80px;
}
.call-days-button a{
    color: #ffff;
    border: 2px solid;
    padding: 13px 30px;
    text-decoration: none;
}
.call-days-button a:hover{
    background: #ffff;
    color: #fd3c3d;
    transition: all ease .5s;
}


/* STORY */
.story{
    background: #181a1f;
    padding: 70px 0px;
}
.story-heading h1{
    color: #fd3c3d;
    font-size: 3.5rem;
    position: relative;
    display: block;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}
.story-heading h1::before{
    content: "";
    position: absolute;
    max-width: 40px;
    width: 100%;
    display: block;
    height: 3px;
    background: #8d8d8d;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 115%;
}
.story-content p{
    color: #a9a9a9;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 100px;
    line-height: 1.7;
}

/* news */
.news{
    background: #181a1f;
    padding: 70px 0px;
}
.news-heading h1{
    color: #fd3c3d;
    font-size: 3.5rem;
    position: relative;
    display: block;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}
.news-heading h1::before{
    content: "";
    position: absolute;
    max-width: 40px;
    width: 100%;
    display: block;
    height: 3px;
    background: #8d8d8d;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 115%;
}

.new-content{
    font-family: 'Roboto',sans-serif;
}
.box-news img{
    width: 100%;
}
.box-news{
    background-color: #1f2229;
    height: 500px;
    margin-top: 100px;
}
.box-news:hover{
    box-shadow: 8px 8px 0 -4px rgb(253 60 61);
    transition: all ease .5s;
}
.new-content{
    margin-left: 30px;
    padding: 30px 0px;
}
.new-content span{
    color: #ffff;
    font-size: 1.3rem;
}
.new-content p{
    color:#fff;
    margin: 10px 0px;
}
.new-content i{
    color: #fd3c3d;
}

/* Partner */
.partner{
    padding: 70px 0px;
    background: #1f2229;
}
.partner-heading h1{
    color: #fd3c3d;
    font-size: 3.5rem;
    position: relative;
    display: block;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}
.partner-heading h1::before{
    content: "";
    position: absolute;
    max-width: 40px;
    width: 100%;
    display: block;
    height: 3px;
    background: #8d8d8d;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 115%;
}
.partner-main{
    justify-content: center;
    display: flex;
}
.partner-item{
    margin-top:70px  !important;
    text-align: center;
    background: #181a1f;
    margin: 0px 10px;
}
.partner-item:hover{
    box-shadow: 8px 8px 0 -4px rgb(253 60 61);
    transition: all ease .5s;
}


/* free day */
.free-day{
    background-image: url(./IMG/contact-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    padding-top: 70px;
}
.free-heading h1{
    color: #fd3c3d;
    font-size: 3.5rem;
    position: relative;
    display: block;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}
.free-heading h1::before{
    content: "";
    position: absolute;
    max-width: 40px;
    width: 100%;
    display: block;
    height: 3px;
    background: #8d8d8d;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 115%;
}
.type-input{
    margin-top: 70px;
}
.type-input label{
    width: 100%;
}
.type-input input{
    width: 100%;
    background: #000000;
    box-shadow: none;
    height: 45px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    border: 2px solid #FFFFFF;
    transition: 400ms ease;
    transition-property: border-color;
    padding: 0 0 0 15px;
}
.type-input input:focus { 
    outline: none !important;
    border-color:  #fd3c3d;
}


.type-input label{
    width: 100%;
}
.type-input textarea{
    width: 100%;
    background: #000000;
    box-shadow: none;
    height: 105px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    border: 2px solid #FFFFFF;
    transition: 400ms ease;
    transition-property: border-color;
    padding: 0 0 0 15px;
}
.type-input textarea:focus { 
    outline: none !important;
    border-color:  #fd3c3d;
}

.free-btn{
    text-align: center;
    margin-top: 50px;
}
.free-main a{
    background: #fd3c3d;
    color: #fff;
    text-decoration: none;
     border: #fd3c3d;
     padding: 15px 20px;
     transition: all .5s;
}
.free-main a:hover{
    background: none;
    border: 2px solid #fd3c3d;
}

/* contact */
.contact-mall{
    padding: 70px 0px;
    background: #181a1f;
    font-family: 'Roboto',sans-serif;
}
.contact-item{
    text-align: center;
    padding: 30px 0px;
    transition: all .3s;
}
.contact-item:hover{
    background-color: #111317;
}
.contact-item i{
    color: #fd3c3d;
    font-size: 2.8125rem;
}
.contact-item h4{
    color: #ffff;
    font-size: 1.5rem;
    padding: 22px 0px;
}
.contact-item p{
    color: #a9a9a9;
    font-size: 0.875rem;
}

/* footer */
.footer{
    background: #181a1f;
    padding: 50px 0px;
    font-family: 'Roboto',sans-serif;
}
.footer-heading h1{
    color: #ffff;
    font-size: 2.8rem;
    position: relative;
    display: block;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}
.footer-heading h1::before{
    content: "";
    position: absolute;
    max-width: 40px;
    width: 100%;
    display: block;
    height: 3px;
    background: #8d8d8d;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 115%;
}
.footer-main p{
    color: #a9a9a9; 
    text-align: center;

    margin-top: 40px;
}
.search-footer{
    text-align: center;
    width: 100%;
    margin-top: 30px;
}
.search-footer input{
    width: 50%;
    background: none;
    border: 1px solid #ffff;
    height: 40px;
    padding: 0 0 0 15px;
    color: #fff;
}
.search-footer button{
    padding: 9px 20px;
    background: #fd3c3d;
}
.search-footer button i{
    color: #ffff;
}
.icon-mxh{
    text-align: center;
    margin-top:30px;
}
.icon-mxh a{
    border-radius: 100px;
    border:1px solid #a8a8a8;
    padding: 10px 15px;
    width: 400px;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
    transition: all .3s;
}
.icon-mxh  i{
    color: #a8a8a8;
    font-size: 14px;
    
}
.icon-mxh a:hover{
    background: #fd3c3d;
    border: none;
}
.icon-mxh a:hover i{
    color: #ffff;
}
